<!-- ======================= Cards ================== -->
<div class="cardBox">
    <div class="card">
        <div>
            <div class="numbers">804</div>
            <div class="cardName">Visitas Diarias</div>
        </div>

        <div class="iconBx">
            <ion-icon name="eye-outline"></ion-icon>
        </div>
    </div>

    <div class="card">
        <div>
            <div class="numbers">24</div>
            <div class="cardName">Productos</div>
        </div>

        <div class="iconBx">
            <ion-icon name="cart-outline"></ion-icon>
        </div>
    </div>

    <div class="card">
        <div>
            <div class="numbers">154</div>
            <div class="cardName">Comentarios</div>
        </div>

        <div class="iconBx">
            <ion-icon name="chatbubbles-outline"></ion-icon>
        </div>
    </div>

    <div class="card">
        <div>
            <div class="numbers">$7,842</div>
            <div class="cardName">Recolectado</div>
        </div>

        <div class="iconBx">
            <ion-icon name="cash-outline"></ion-icon>
        </div>
    </div>
</div>

<!-- ================ Order Details List ================= -->
<div class="details">
    <div class="recentOrders">
        <div class="cardHeader">
            <h2>Productos</h2>
            <a href="/dashboard/producto/listado" class="btn">Ver Todos</a>
        </div>

        <table>
            <thead>
                <tr>
                    <td>Nombre</td>
                    <td>Precio</td>
                    <td>Stock</td>
                    <td>Estado</td>
                </tr>
            </thead>

            <tbody>
                @for (p of listaProductos; track $index) {
                    <tr>
                        <td>{{p.nomproducto}}</td>
                        <td>S/. {{p.precio | number: '1.2-2'}}</td>
                        <td>{{p.stock}}</td>
                        <td>
                            @if (p.estado) {
                                <span class="status delivered text-white">Activo</span>
                            }@else {
                                <span class="status return text-white">Inactivo</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- ================= CLIENTES ================ -->
    <div class="recentCustomers">
        <div class="cardHeaderCustomers">
            <h2>Clientes</h2>

            <table>
                @for (c of listadoCliente; track $index) {
                    <tr>
                        <td width="60px">
                            <div class="imgBx"><img src="customer02.jpg" alt=""></div>
                        </td>
                        <td>
                            <h4>{{c.nomcliente + " " + c.apecliente}} <br> <span>{{c.telefono}}</span></h4>
                        </td>
                    </tr>
                }
            </table>
        </div>
        
    </div>
</div>
