<div class="container">
    <h3 class="text-center mt-2 mb-3">CONSULTA DE PEDIDO</h3>
        <input type="text" name="nomcliente" id="cliente" class="form-control" #nomcliente
                placeholder="Buscar cliente por nombre" (input)="buscarPedido(nomcliente)" />

    <table class="table table-hover mt-3">
        <thead>
            <tr>
                <th hidden>ID</th>
                <th>Cliente</th>
                <th>Usuario</th>
                <th>Descuento(%)</th>
                <th>Monto Total</th>
                <th>Dirección</th>
                <th>Estado</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @if(listaPedido.length > 0) {
                @for (pe of listaPedido; track $index) {
                    <tr>
                        <td hidden>{{pe.idpedido}}</td>
                        <td>{{pe.cliente}}</td>
                        <td>{{pe.usuario}}</td>
                        <td>{{pe.descuento | percent:'1.0-0' }}</td>
                        <td>{{pe.montototal}}</td>
                        <td>{{pe.direccion}}</td>
                        <td>{{pe.estado}}</td>
                        <td>
                            <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#modalActualizar">Modificar</button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
