<div class="container">
    <h3 class="text-center mt-2 mb-3">CONSULTA DE FACTURA DE PEDIDO</h3>
        <input type="text" name="nomcliente" id="cliente" class="form-control" #cliente
                placeholder="Buscar cliente por nombre" (input)="buscarFacturaPedido(cliente)" />

    <table class="table table-hover mt-3">
        <thead>
            <tr>
                <th hidden>ID</th>
                <th>Cliente</th>
                <th>Total</th>
                <th>Direccion</th>
                <th>Anulación</th>
                <th>Estado Peido</th>
            </tr>
        </thead>
        <tbody>
            @if(listaAnulacionPedido.length > 0) {
                @for (a of listaAnulacionPedido; track $index) {
                    <tr>
                        <td hidden>{{a.idanulacion}}</td>
                        <td>{{a.cliente}}</td>
                        <td>{{a.montototal}}</td>
                        <td>{{a.direccion}}</td>
                        <td>{{a.fechaanulacion | date:'yyyy-MM-dd'}}</td>
                        <td>{{a.nomestadopedido}}</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
