<div class="container">
    <div class="d-flex justify-content-center align-content-center">
        <div class="col-md-6 p-4 border bg-white rounded-4">
            <h3 class="text-center mb-4">REGISTRAR PAGO PEDIDO</h3>
            <form >
                <div class="form-floating mb-3">
                    <input type="hidden" value="{{idpedido}}" name="idpedido" [(ngModel)]="pagopedido.idpedido">
                    <select class="form-select" name="idmetodopago" id="metodopago" [(ngModel)]="pagopedido.idmetodoPago">
                        <option value="0">Seleccione</option>
                        @for (metodo of metodoPago; track $index) {
                            <option value="{{metodo.idmetodopago}}">{{metodo.nommetodopago}}</option>
                        }
                    </select>
                    <label for="metodopago">Metodo Pago</label>
                </div>
                <div class="d-flex justify-content-between">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalPedidoBuscar">Buscar Pedido</button>
                    <button type="submit" (click)="registrarPagoPedido()" class="btn btn-success">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- MODAL PEDIDO BUSCAR -->
<div class="modal fade" id="modalPedidoBuscar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Productos</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input 
                    type="text" 
                    id="productoBusqueda" 
                    class="form-control" 
                    placeholder="Buscar pedido por nombre cliente"
                    (input)="buscarPedidoXCliente($event)"
                />
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th hidden>ID</th>
                            <th>Cliente</th>
                            <th>Descuento</th>
                            <th>Total</th>
                            <th>Dirección</th>
                            <th>Estado</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (pedidoConsultaEstado.length > 0) {
                            @for (pe of pedidoConsultaEstado; track $index) {
                                <tr>
                                    <td hidden>{{pe.idpedido}}</td>
                                    <td>{{pe.cliente}}</td>
                                    <td>{{pe.descuento | percent:'1.0-0'}}</td>
                                    <td>{{pe.montototal}}</td>
                                    <td>{{pe.direccion}}</td>
                                    <td>{{pe.estado}}</td>
                                    <td>
                                        <button class="btn btn-primary" 
                                            (click)="agregarPedido({
                                                idpedido: pe.idpedido
                                            })"
                                            data-bs-dismiss="modal"><i class="fas fa-check"></i></button>
                                    </td>
                                </tr>
                            }
                        }@else {
                            <div class="mt-3 ms-2">
                                No se encontró ningun pedido pendiente
                            </div>
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>