/* You can add global styles to this file, and also import other style files */
:root {
    --blue: #000000;
    --white: #d9d2ff;
    --gray: #ffd0d0;
    --black1: #000000;
    --black2: #000000;
  }